<div style="margin-left: 35%;">
    <fieldset style="background-color: aquamarine; width: 35%; margin: 30px 40px;">
        <legend>Login</legend>
        Email           : <input type="text" [(ngModel)]="email">
        <br>
        <br>
        Password : <input type="password" [(ngModel)]="pwd">
        <br>
        <br>
        <button (click)="login_click()" style="margin-left: 35%;"> Login</button>
    </fieldset>
</div>



<!--
<fieldset style="background-color: aquamarine; width: 30%; margin: 30px 40px;">
    <legend>SignUp</legend>
    email: <input type="text"  [(ngModel)]="email_sign">
    <br>
    <br>
    Password : <input type="password" [(ngModel)]="pwd_sign">
    <button (click)="signup_click()" > SignUp</button>
</fieldset>
-->