<style>
    .bg1{ background-color :  rgb(193, 236, 236);  }
    .bg2{ background-color :  rgb(101, 180, 101);  }
    .bg3{ background-color :  rgb(132, 142, 172);  }
    td,th,h1{
        padding-left: 30px;
    }
</style>
<hr />
<h1>Custome Pipe Implement</h1>
<table border="2"  style="width: 30%; height: 200px;margin-left: 40px;" cellSpacing="0"  cellpadding="10">
    <tr  class="bg1">
            <th>Id</th>
            <th>Name</th>
            <th>Grade</th>
    </tr>
    <tr   *ngFor="let u of stuArray ;  let i = index;  let x = even; let y = odd;" [ngClass]="{bg2:x,  bg3:y}">
        <td> {{u.id}}  </td>
        <td>{{u.name}}</td>
        <td>{{u.grade | gradepipe}}</td>
    </tr>
</table>