<!--<app-emp></app-emp>


<h1>Task-1- Tech Details</h1>
<hr/>
<app-arraytech></app-arraytech>

<h1>Task-2-- Product Details</h1>
<hr/>
<app-product></app-product>


<h1>Task-3-- Display in cards Details</h1>
<hr/>
<app-cards></app-cards>


<h1>Task-4-- calculation</h1>
<hr/>
<app-calc-price></app-calc-price>


<h1>Task-5-- Add product Details</h1>
<hr/>
<app-add-product></app-add-product> 

<app-crud></app-crud> 
<app-dept-list></app-dept-list> 

<app-product-list></app-product-list> -->

<app-sib2-com (selected_sort) ="selected_option=$event "></app-sib2-com>
<app-sib1-com [selected]= "selected_option"></app-sib1-com>
