<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h2>Empl Table</h2>
<table>
  
  <tr>
    <td>Employee_Id</td>
    <td>{{Employee_Id}}</td>
    
  </tr>
  <tr>
    <td>Employee_Name</td>
    <td>{{Employee_Name}}</td>
    
  </tr>
  <tr>
    <td>Employee_Job</td>
    <td>{{Employee_Job}}</td>
   
  </tr>
  <tr>
    <td>Employee_Job</td>
    <td>{{Employee_Salary}}</td>
    
  </tr>
  <tr>
    <td>Employee_Salary</td>
    <td>{{Employee_Salary}}</td>
    
  </tr>
  <tr>
    <td>Employee_Depo</td>
    <td>{{Employee_Depo}}</td>
    
  </tr>
</table>

<h1>Adding Image to html file</h1>
<hr>
<img src="assets/Images/Angular-logo.png">

</body>
</html>

